{
    "apiNoBg": ["UGwqFfEQ", "ADD-OTHER-API-KEY-HERE-FOR-MORE-LIMIT", "AND-AGAIN"],
    "apiFarzain": "UGwqFfEQ",
    "apiItech": "UGwqFfEQ",
    "apiLol": "UGwqFfEQ",
    "apiGenius": "UGwqFfEQ",
    "apiOcr": "UGwqFfEQ",
    "saweriaOverlay": "YOUR SAWERIA OVERLAY LINK"
}
